body {
    margin: 0;
    text-align: center;
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #1B244A;
}

button {
    background: none;
    cursor: pointer;
    color: #9AABD8;
}

h3 {
    font-family: Verdana;
    color: white;
}